body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid__wrapper {
  display: flex;
  flex-direction: column;
}
.grid__main {
  flex: 1;
  padding: 2rem;
  align-items: center;
}
.grid__sidebar {
  flex: 0 0 16rem;
  padding: 12px;
  background-color: #28aadc;
}
@media all and (min-width: 768px) {
  .grid__wrapper {
    flex-direction: row;
  }
  .grid__sidebar {
    flex: 0 0 24rem;
  }
}

.blogtile__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.blogtile {
  line-height: 1.6;
  color: #444;
  font-family: 'Lora', Georgia, serif;
  padding: 1.25rem;
  max-width: 40rem;
  align-items: center;
  max-width: 720px;
}
.blogtile__body {
  text-align: left;
}